*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background-image:url(123.jpg);
	min-height:100vh;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	width: 300px;
	height: 325px;
	background-color: rgb(131,128,128);
	border-radius: 10px;
	box-shadow: 1px,1px,5px white;
	padding: 20px 25px;
}
.container .login{
	color: #fff;
	font-weight: 500;
	font-size: 1.1rem;
	text-align: center;
	margin: auto;
	display: block;text-transform: capitalize;
}
.container .login .input-grup{
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
}
.container .login .input-grup input{
	width: 100%;
	height:100%;
	border:2px solid black;
	background: #fff;
	padding: 15px 20px;
	font-size: 1rem;
	transition: 3s;
}
.container .login .input-grup input:focus, .container .login .input-grup input:valid{
	border:#3e36ad;
}
.container .login .input-grup .btn{
	display: block;
	width: 100%;
	padding: 5px 20px;
	text-align: center;
	border:none;
	background-color: turquoise;
	outline: none;
	border-radius: 30px;
	font-size: 1.3rem;
	color: #fff;
	cursor: pointer;
	transition: 3s;
}
.container .login .input-grup .btn:hover{
	transform: translate(-1px);
	background: #6e5ce7;
}
.wrap{
	background-color: rgb(131,128,128);
	width: 100%;
	margin: auto;
	color: white;
	border-radius: 30px;
	font-family: sans-serif;
}
.form{
	padding: 30px;
	margin: 10%;
}
h1{
	text-align: center;
}
table{
	margin: auto;
	padding-bottom: 5px;
}
table td{
	padding: 5px;
}
table td:focus table td:valid{
	border:#3e36ad;
}
button{
	width: 50px;
	font-family: sans-serif;
	height: 30px;
	background-color: turquoise;
	border-radius: 10px
	color: white; 
}
button:hover{
	transform: translate(-1px);
	background: #6e5ce7;
}
.textarea{
    width: 100%;
    height: 100%;
    resize:none;
